certifi
charset-normalizer
click
cycler
Flask
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
Pillow
psycopg2
pyparsing
pyTelegramBotAPI
python-dateutil
requests
six
SQLAlchemy
urllib3
Werkzeug
